body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    background-color: rgb(107, 161, 25);
    color: black;
    padding: 50px 50px 50px 50px;
}

img {
    height: 200px;
}

nav {
    background-color: orangered;
    border-bottom: 1px solid brown;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
}

.navlink {
    color: white;
}

.container {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}

a {
    color: green;
}

h1 {
    color:green
}

a:link { text-decoration: none; }

.colortable {
    background-color:blanchedalmond;
}

tr:nth-child(even) {
    background-color: lightblue;
}
